@import url('https://fonts.googleapis.com/css2?family=Ysabeau+Infant:ital,wght@0,200;1,400&display=swap');

html {
    font-family: 'Ysabeau Infant', sans-serif;
    box-sizing: border-box;
}

body {
    background-image: url("assets/leaves1.webp");

    height: 100%;
    overflow-x: hidden;

    margin: 0;
    padding: 0;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    overflow: visible;
    white-space: normal;

    background-color: transparent;
    position: relative;

    word-wrap: break-word;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;

    /* centers horizontally */
    margin: 0 auto;

    font-size: 5vw;
    max-width: 65vw;

    background-color: white;

    padding: 5vw;

    border: 1.5vw solid black;
    border-top: 0vh;
    border-bottom: 0vh;

    @media screen and (max-width: 500px) {
        
        font-size: 7vw;
        max-width: 65vw;
    }

}

.content img
{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.logo {
    height: 60vw;
    width: 60vw;
}

.basicPhoto {

    display: flex;
    max-width: 50vw;
    max-height: 50vw;
}

@media screen and (max-width: 550px) {
    .content
    {
        max-width: 80vw;

    }

    .basicPhoto
    {
        max-width: 65vw;
        max-height: 65vw;
    }
}

@media screen and (min-width: 700px) {
    .content
    {
        font-size: 5vw; 
        max-width: 55vw;
    }

    .basicPhoto
    {
        max-width: 50vw;
        max-height: 50vw;
    }
}

@media screen and (min-width: 1000px) {
    .content
    {
        font-size: 2.5vw;
        max-width: 40vw;
    }

    .basicPhoto
    {
        max-width: 40vw;
        max-height: 40vw;
    }

    .basicVideo
    {
        max-width: 40vw;
        max-height: 40vw;
    }
}

@media screen and (max-width: 700px) {
    
    body
    {
        background-attachment: scroll;
        background-size: auto;
        background-repeat: repeat;
    }
    
}

.basicVideo {

    max-width: 50%;
    max-height: 50%;

    display: block;
    margin-left: auto;
    margin-right: auto;
}

.name 
{
    font-weight: 1000;
}

.clickMe 
{
    display: block;
    text-align: center;

    font-size:calc(8px + 1.5vw);
    align-self: center;
    cursor: pointer;
    transform: translatey(-70%);

    

    /* @media screen and (max-width: 650px) 
    {
        font-size: 1.5vw;
        transform: translatey(-90%);
    } */
}

nav {

    width: 100%;
    height: 10vw;
    background-color: #333;
    position: sticky;
    top: 0;
    z-index: 1;

    min-width: 40vw;
    max-width: 60vw;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 4vw;
}

nav ul,
nav ul li {
    margin: 0;
    padding: 0;
}

/* footer {
    font-size: 7vw;
    align-self: center; 
    width: 100%;    
    max-width: 1200px;  
    margin: auto 0 0 0;     
    text-align: center;     
    white-space: nowrap;    
    overflow: hidden;   
    text-overflow: ellipsis;
    transform: translateY(-10%);    
} */