@import url('https://fonts.googleapis.com/css2?family=Ysabeau+Infant:ital,wght@0,200;1,400&display=swap');

html {
    font-family: 'Ysabeau Infant', sans-serif;
    box-sizing: border-box;
}

body {
    background-image: url("assets/leaves1.webp");

    /* Create the parallax scrolling effect */
    height: 100%;
    overflow-x: hidden;

    margin: 0;
    padding: 0;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    /* Use Flexbox for centering content */
    display: flex;
    justify-content: center;
    align-items: center;

}

.content {
    overflow: visible;
    white-space: normal;

    background-color: transparent;
    position: relative;
    /* z-index: 1;   */

    word-wrap: break-word;
    /* font-size: 4vh; */

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;

    /* centers horizontally */
    margin: 0 auto;

    --text-size: 20px; 
    --max-width: 65vw;
    /* --min-width: 60vh;
    --max-width: 80vh; */

    font-size: var(--text-size);
    min-width: var(--min-width);
    max-width: var(--max-width);

    background-color: white;

    /* padding: 10%; */
    content: 10vh;
    padding: 5vh;

    border: 1.5vh solid black;
    border-top: 0vh;
    border-bottom: 0vh;

    @media screen and (min-width: 650px) {
        
        --text-size: 40px; 
        
    }

}

.content img
{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.content p
{

}

.logo {
    height: 60vh;
    width: 60vh;
}

.basicPhoto {

    display: flex;

    --max-width: 35vh;
    --max-height: 35vh;
    max-width: var(--max-width);
    max-height: var(--max-height);

    @media screen and (max-width: 650px) {
        
        --max-width: 28vh;
        --max-height: 28vh;
    }

    @media screen and (min-width: 650px) {
        
        --max-width: 60vh;
        --max-height: 60vh;
    }
}

.basicVideo {
    --max-heightV: 50%;
    --max-widthV: 50%;
    max-width: var(--max-widthV);
    max-height: var(--max-heightV);

    display: block;
    margin-left: auto;
    margin-right: auto;
}

.name 
{
    font-weight: 1000;
}

/* a 
{
    white-space: nowrap;
} */

.clickMe 
{
    display: block;
    text-align: center;

    font-size: 2vh;
    align-self: center;
    cursor: pointer;
    transform: translatey(-100%)
}

.clickMe 
{
    @media screen and (max-width: 650px) 
    {
        font-size: 1.5vh;
        transform: translatey(-90%);
    }
}

.sectionTitle
{

}

nav {
    width: 100%;
    height: 10vh;
    background-color: #333;
    position: sticky;
    top: 0;
    z-index: 1;

    --min-width: 40vh;
    --max-width: 60vh;
    min-width: var(--min-width);
    max-width: var(--max-width);
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 4vh;
}

nav ul,
nav ul li {
    margin: 0;
    padding: 0;
}