@import url('https://fonts.googleapis.com/css2?family=Ysabeau+Infant:ital,wght@0,200;1,400&display=swap');

html {
    font-family: 'Ysabeau Infant', sans-serif;
}

body {
    background-image: url("assets/leaves1.webp");

    /* Create the parallax scrolling effect */
    height: 100%;
    overflow-x: hidden;
    /* max-width: 100vh; */

    margin: 0;
    padding: 0;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    /* Use Flexbox for centering content */
    display: flex;
    justify-content: center;
    align-items: center;

}

.content {
    background-color: transparent;
    position: relative;
    /* z-index: 1;   */

    word-wrap: break-word;
    /* font-size: 4vh; */

    display: flex;
    flex-direction: column;
    align-items: center;

    /* centers horizontally */
    margin: 0 auto;

    --text-size: 3vh;
    --min-width: 40vh;
    --max-width: 60vh;
    /* --min-width: 60vh;
    --max-width: 80vh; */

    font-size: var(--text-size);
    min-width: var(--min-width);
    max-width: var(--max-width);

    background-color: white;

    /* padding: 10%; */
    content: 10vh;
    padding: 5vh;

    border: 1.5vh solid black;
    border-top: 0vh;
    border-bottom: 0vh;

}

.logo {
    height: 60vh;
    width: 60vh;
    /* transform: translateX(5%); */
}

.basicPhoto {

    --max-width: 20vh;
    --max-height: 20vh;

    /* --photo-height: 400px;
    height: var(--photo-height);
    --photo-width: 400px;
    width: var(--photo-width); */
}

.basicVideo {
    /* --video-height: 400px;
    height: var(--video-height);
    --video-width: 400px;
    width: var(--video-width); */
}

/* .card {
    @media screen and (max-width: 650px) {

        --text-size: 2.5vh;
    }
} */

/* .basicPhoto {
    @media screen and (max-width: 650px) {

    }
} */

/* .basicVideo {
    @media screen and (max-width: 650px) {

    }
} */

.name 
{
    font-weight: 1000;
}

a 
{
    white-space: nowrap;
}

.clickMe 
{
    font-size: 2vh;
    align-self: center;
    cursor: pointer;
    transform: translateY(-100%);
}

.clickMe 
{
    @media screen and (max-width: 650px) 
    {
        font-size: 1.5vh;
        transform: translate(12%, -100%);
    }
}