@import url('https://fonts.googleapis.com/css2?family=Ysabeau+Infant:ital,wght@0,200;1,400&display=swap');

html,
body,
#root 
{
  height: 100%;
  width: 100%;
}

body 
{
  font-family: 'Ysabeau Infant', sans-serif;
  /* background-image: url("../assets/leaves1.webp"); */
  background-image: url("../assets/leaves2.jpg");
  background-size: cover;
  margin: 0;

  /* background-image: url("../assets/leaves1.webp"); */
}

/* contains the main content returned by app. jsx */
.app
{
  /* background-color: green; */
  display: flex;
  align-items: center;
  justify-content: center;

  word-wrap: break-word;

  font-size: 30px;
}

.card
{ 
  --text-size: 3vh;
  font-size: var(--text-size);
  --min-width: 300px;
  min-width: var(--min-width);
  --max-width: 400px;
  max-width: var(--max-width);
  
  background-color: white;
  padding: 10%;
}

.title
{
  font-size: 8vh;
}

.logo
{
  height: 95%;
  width: 95%;
  transform: translateX(5%);
}

.dog
{
  height: 50%;
  width: 50%;
}

.basicPhoto
{
  --photo-height: 400px;
  height: var(--photo-height);
  --photo-width: 400px;
  width: var(--photo-width);
}

.basicVideo
{
  --video-height: 400px;
  height: var(--video-height);
  --video-width: 400px;
  width: var(--video-width);
}

.card
{
  @media screen and (max-width: 650px)
  {
    /* --text-size: 1.75vh; */
    --min-width: 150px;
    --max-width: 250px;
    --photo-height: 200px;
    --photo-width: 200px;
    --text-size: 2.5vh;
  }
}

.basicPhoto
{
  @media screen and (max-width: 650px)
  {
    --photo-height: 200px;
    --photo-width: 200px;
    transform: translateX(12%);
  }
}

.basicVideo
{
  @media screen and (max-width: 650px)
  {
    --video-height: 200px;
    --video-width: 200px;
    transform: translateX(12%);
  }
}

.name
{
  font-weight: 1000;

}

a
{
  white-space: nowrap;
}

.clickMe
{
  font-size: 2vh;
  align-self: center;
  cursor: pointer;
  transform: translateY(-100%);
}

.clickMe
{
  @media screen and (max-width: 650px) {
    font-size: 1.5vh;
    transform: translate(12%, -100%);
  }
}

.titleA
{
  
  align-content: center;
}

/* optional footer can be added later */

footer
{
  position: fixed;
  bottom: 0;
  min-width: 300px;
  max-width: 400px;
  text-align: center;
  font-size: 1.5vh;

  background-color: rgb(51, 210, 133);
}
