
@import url('https://fonts.googleapis.com/css2?family=Ysabeau+Infant:ital,wght@0,200;1,400&display=swap');

html,
body,
#root {
overflow: hidden;

  height: 100%;
  width: 100%;
  /* overflow: hidden; */

  background-image: url("../../public/leaves1.jpg");

  font-family: 'Ysabeau Infant', sans-serif;
}

body {
  margin: 0;
}

.app
{
  /* display: flex;
  align-items: center; */

  /* boarder-image: url("../../public/leaves2.jpg");
  boarder-style: solid;
  boarder-width: 10%; */

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
}

.title
{
  font-size: 8vh;
}

.card
{

  font-size: 2vh;
  word-wrap: break-word;

  background-color: white;
  min-width: 200px;
  max-width: 400px;
  padding: 10%;
}